.input {
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 0 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.formulary {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: var(--white);
    padding-bottom: 16px;
  }

  form button {
    height: 40px;
    width: 100px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
      background-color: var(--dark-900);
    }
  }
}
.formulary .inputsConteiner {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  div {
    display: flex;
    gap: 10px;
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.formulary .modalFooter .buttonsContainer {
  display: flex;
  gap: 10px;
}
