.backgroundModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 10;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-700);
  z-index: 5;
  width: 43.75vw;
  height: 64.3055vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  padding: 32px 36px;

  color: var(--white);
}
.header .icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  padding: 7px 9px;
  height: 32px;
  background: var(--dark-900);
  border: 1px solid #dadada;
  color: var(--white);
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
