.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  .title {
    color: var(--white);
  }
}
.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.categoryHeader .addCategory {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s;
  cursor: pointer;
  border: 0;
  color: var(--white);
  background: transparent;
  .buttonText {
    font-size: 1.2rem;
  }

  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}

.form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 16px 0;
}

.input {
  height: 40px;
  border: 0;
  background-color: var(--dark-900);
  border-radius: 8px;
  padding: 0 16px;
  color: var(--white);
  border: 1px solid var(--gray-100);
}
