# Com o Vite use sempre o VITE_ na frente das suas variáveis
# importe a variável desse modo
# const baseURL = process.env.NEXT_PUBLIC_API_URL

# URL do servidor de API docker na network do docker-compose
NEXT_PUBLIC_API_URL="http://backend:3333"

# URL do servidor de API local
NEXT_PUBLIC_API_URL="http://localhost:3333"

#dev ou prod
NEXT_ENVIRONMENT='dev'