.container {
  width: 100%;
  margin: 10px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  color: var(--white);
}
.userHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.userHeader .addUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s;
  cursor: pointer;
  border: 0;
  color: var(--white);
  background: transparent;
  .text {
    font-size: 1.2rem;
  }

  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}

.role {
  display: inline-flex;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.role.admin {
  background-color: rgba(211, 64, 83, 0.1);
  color: #d34053;
}

.role.user {
  background-color: rgba(255, 167, 11, 0.1);
  color: #ffa70b;
}
