.headerContainer {
  display: grid;
  grid-area: NB;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
  background-color: var(--dark-900);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}
.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .text {
    font-size: 1.2rem;
    color: var(--white);
  }
}
.link {
  color: var(--white);
  text-decoration: none;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    color: var(--red-900);
    transform: scale(1.1);
  }
}
.button {
  border: 0;
  background: transparent;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}
.active {
  color: var(--red-900);
}
.hamburguerMenuArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0px;
}
