.container {
  width: 100%;
  margin: 10px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  h1 {
    color: var(--white);
  }
}
.container .tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}

.tableHeader .addTable {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s;
  cursor: pointer;
  border: 0;
  color: var(--white);
  background: transparent;
  p {
    font-size: 1.2rem;
  }

  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}

.tableList {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

.tableItem {
  padding: 15px;
  border-radius: 8px;
  min-width: 200px;
  min-height: 100px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  color: var(--white);
}
.tableItem.available {
  background: rgb(16, 150, 86);
  background: linear-gradient(
    190deg,
    rgba(16, 150, 86, 1) 0%,
    rgba(63, 255, 163, 1) 14%,
    rgba(37, 172, 107, 1) 27%,
    rgba(63, 255, 163, 1) 35%,
    rgb(56, 223, 142) 44%,
    rgba(63, 255, 163, 1) 58%,
    rgba(19, 179, 102, 1) 66%,
    rgba(63, 255, 163, 1) 75%,
    rgba(31, 176, 106, 1) 100%
  );
}

.tableItem.occupied {
  background: rgb(140, 15, 22);
  background: linear-gradient(
    190deg,
    rgba(140, 15, 22, 1) 0%,
    rgba(255, 63, 75, 1) 14%,
    rgba(208, 0, 36, 1) 27%,
    rgba(218, 28, 40, 1) 35%,
    rgba(255, 63, 75, 1) 44%,
    rgba(209, 27, 38, 1) 58%,
    rgba(255, 63, 75, 1) 66%,
    rgba(255, 63, 75, 1) 75%,
    rgba(126, 14, 14, 1) 100%
  );
}
