* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  ::-webkit-scrollbar {
    opacity: 0;
    width: 0;
  }
}

:root {
  --white: #fff;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-rendering: none;
}

body {
  background: var(--dark-700);
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

input,
select,
textarea {
  color: var(--white);

  &[disabled] {
    color: rgb(170, 170, 170);
    text-opacity: 0.7;
  }
  &[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }
}
