.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  h1 {
    color: var(--white);
  }
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  gap: 4rem;
}

.header .filterContainer {
}

.container .header .title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.container .header .prevPageButton {
  border: 0;
  color: var(--white);
  background: transparent;
  transition: transform 0.2s;
  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}

.orderItem {
  display: flex;
  background-color: var(--dark-900);
  align-items: center;
  border: 0;
  font-size: 18px;
  border-radius: 8px;
  color: var(--white);
  transition: all 0.5s;

  &:hover {
    filter: brightness(1.4);
  }
}

.tag {
  width: 9px;
  height: 60px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 16px;
}

.listOrders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emptyItem {
  color: var(--gray-100);
}

.status {
  display: inline-flex;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.status.draft {
  background-color: rgba(211, 211, 211, 0.1); /* Cinza */
  color: #6c757d;
}

.status.inProgress {
  background-color: rgba(255, 167, 11, 0.1); /* Laranja */
  color: #ffa70b;
}

.status.completed {
  background-color: rgba(40, 167, 69, 0.1); /* Verde */
  color: #28a745;
}

.status.paid {
  background-color: rgba(23, 162, 184, 0.1); /* Azul */
  color: #17a2b8;
}

.status.closed {
  background-color: rgba(211, 64, 83, 0.1); /* Vermelho */
  color: #d34053;
}
