.container {
  width: 100%;
  margin: 10px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  color: var(--white);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  min-height: 70px;
}

.headerContainer .actionButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  border: none;
  background: transparent;
  color: var(--white);
  font-size: 1.2rem;
}

.headerContainer .actionButton:hover {
  transform: scale(1.05);
  color: var(--red-900);
}

.headerContainer .actionButton .buttonIcon {
  display: inline-flex;
}
