.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  h1 {
    color: var(--white);
  }
}

.container .header .title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.container .header button {
  border: 0;
  color: var(--white);
  background: transparent;
  transition: transform 0.2s;
  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}

.orderItem {
  display: flex;
  background-color: var(--dark-900);
  align-items: center;
  border: 0;
  font-size: 18px;
  border-radius: 8px;
  color: var(--white);
  transition: all 0.5s;

  &:hover {
    filter: brightness(1.4);
  }
}

.tag {
  width: 9px;
  height: 60px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 16px;
}

.listOrders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emptyItem {
  color: var(--gray-100);
}
