.container {
  width: 100%;
  margin: 20px auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  h1 {
    color: var(--white);
  }
}
.userHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  color: var(--white);
}
.userHeader .addUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s;
  cursor: pointer;
  p {
    font-size: 1.2rem;
  }

  &:hover {
    color: var(--red-900);
    transform: scale(1.05);
  }
}
